<%- include("header_user.ejs") %>

<div class="title">Kontodetaljer</div>

<table class="table-details" id="details">
    <tr class="tr-details">
        <th class="th-details">Användarnamn</th>
        <th class="th-details">Roll</th>
        <th class="th-details">Email</th>
        <th class="th-details">Plånbok (kr)</th>
    </tr>
    <tr class="tr-details">
        <td class="td-details"><%= users[0].id %></td>
        <td class="td-details"><%= users[0].role %></td>
        <td class="td-details" style="width: 14.5em;"><%= users[0].email %></td>
        <td class="td-details"><%= users[0].wallet %></td>
    </tr>
</table>
<div class="middle-edit"> <!-- Ändra till egen klass om du vill flytta den-->
    <a class="edit-button" href="/user/detailsedit">Redigera</a>
</div>


<%- include("footer.ejs") %>