<%- include("header_user.ejs") %>


<div class="title">Historik</div>

<table class="table-history" id="history">
    <tr class="tr-history">
        <th class="th-history">Datum</th>
        <th class="th-history">Startpunkt</th>
        <th class="th-history">Slutpunkt</th>
        <th class="th-history">Sträcka (km)</th>
        <th class="th-history">Tid (min)</th>
        <th class="th-history">Kostnad (kr)</th>
    </tr>
        <% for (let row of users) { %>
            <tr class="tr-history">
                <td class="td-history"><%= row.issue_date %></td>
                <td class="td-history"><%= row.start_latitude %>, <%= row.start_longitude %></td>
                <td class="td-history"><%= row.end_latitude %>, <%= row.end_longitude %></td>
                <td class="td-history"><%= row.distance %></td>
                <td class="td-history"><%= row.time %></td>
                <td class="td-history"><%= row.total_cost %></td>
            </tr>
        <% } %>
    </table>
    
    <%- include("footer.ejs") %>