<%- include("header_admin.ejs") %>

<div class="title">Cyklar</div>

<table class="table-bike" id="bikes">
    <tr class="tr-bike">
        <th class="th-bike">ID</th>
        <th class="th-bike">Position</th>
        <th class="th-bike">Status</th>
        <th class="th-bike">Station</th>
    </tr>
    <% for (let bike of bikes) { %>
    <tr class="tr-bike">
        <td class="td-bike"><%= bike.id %></td>
        <td class="td-bike">
            Latitude: <%= bike.latitude %>
            <br>
            Longitude: <%= bike.longitude %></td>
        <td class="td-bike"><%= bike.status %></td>
        <td class="td-bike">2</td>
    </tr>
    <% } %>
</table>

<%- include("footer.ejs") %>