<%- include("header_admin.ejs") %>

<div class="title">Städer</div>

<table class="table-station" id="customers">
    <tr class="tr-station">
        <th class="th-station">Stads id</th>
        <th class="th-station">Stad</th>
    </tr>
    <% for (let city of cities) { %>
    <tr class="tr-station">
        <td class="td-station"><%= city.id %></td>
        <td class="td-station">
            <a href="/admin/chosencity/<%= city.name %>"><%= city.name %></a>
        </td>
    </tr>
    <% } %>
</table>

<%- include("footer.ejs") %>