<%- include("header_admin.ejs") %>

<div class="title">Kunder</div>

<table class="table-customer" id="customers">
    <tr class="tr-customer">
        <th class="th-customer">User</th>
        <th class="th-customer">Role</th>
        <th class="th-customer">Email</th>
        <th class="th-customer">Position</th>
        <th class="th-customer">Wallet</th>
    </tr>
    <% for (let user of users) { %>
    <tr class="tr-customer">
        <td class="td-customer">
            <a href="/admin/customeredit/<%= user.id %>"><%= user.id %></a>
        </td>
        <td class="td-customer"><%= user.role %></td>
        <td class="td-customer"><%= user.email %></td>
        <td class="td-customer">
            Latitude: <%= user.latitude %><br>
            Longitude: <%= user.longitude %>
        </td>
        <td class="td-customer"><%= user.wallet %></td>
    </tr>
    <% } %>
</table>

<%- include("footer.ejs") %>