<%- include("header_admin.ejs") %>

<div class="title">Stationer</div>

<table class="table-station" id="customers">
    <tr class="tr-station">
        <th class="th-station">ID</th>
        <th class="th-station">Position</th>
        <th class="th-station">Address</th>
    </tr>
    <% for (let station of stations) { %>
        <tr class="tr-station">
            <td class="td-station"><%= station.id %></td>
            <td class="td-station">
                <%= station.latitude %>, <%= station.longitude %>
            </td>
            <td class="td-station"><%= station.address %></td>
        </tr>
     <% } %>
</table>

<%- include("footer.ejs") %>